<style>
.navbar{
  border-radius:0;
  background: #ECEFF1;
  border: 0;
  margin-bottom: 0;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	background-color: #673AB7;
}
.navbar-brand{
	padding: 5px 15px;
}
.navbar-inverse .navbar-nav>li>a:hover{
	color: #000;
}
#radio-button h2 {
	font-size: 18.7199993133545px;
	font-weight: bold;
	margin-bottom: 30px;
	margin-top: 50px;
}
#radio-button .radio {
	margin: 20px 10px;
}
h1 {
	color: #673AB7;
}
h4 {
	color: #7E57C2;
}
.menu h4{
	color: #673AB7;
}
.menu h2{
	color: #673AB7;
}
.a input, .c input{
	color: #311B92;
}
.assessment{
	background: #607D8B;
	margin: 20px;
	padding: 20px;
	border-radius: 15px;
}
.index{
	margin-top: 15px;
}
.box {
	height: 250px;
	/*background: #ECEFF1;*/
	border-radius: 5px;
	padding: 20px;
}
.menu{
	margin-top: 15px;
/*	background: #B388FF;*/
	margin: 20px;
	padding: 20px;
	border-radius: 15px;
	border: 3px solid #B388FF;
}
.each{
	margin-bottom: 5px;
	background: #EEEEEE;
	border-radius: 5px;
	padding:15px 0;
}
.day, .img{
	text-align: center;
}
.day{
	vertical-align: middle;
}
.img h3{
	position: relative;
	top: -200px;
	color: #fff;
	background-color:rgba(103,57,183,0.8);
	padding: 5px 0;
}
.fa-star{
	color: #FFC107;
}
.points{
	margin-top: 100px;
}
.points h2{
	color: #00C853;
}
.rec h2, .ingreds h2{
	color: #9575CD;
}
</style>