<html>
  <head>
    <title>yummyfy</title>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="import" href="static/style.css">
    <link rel="import" href="static/fancy.js">
  </head>
  <body>
    <div class="navbar navbar-inverse">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
<!--           <span class="icon-bar">Home</span>
          <span class="icon-bar">Menu</span>
          <span class="icon-bar">Account</span> -->
        </button>
        <a class="navbar-brand" href="/signup"><img src="static/icon2.png" height="40"/></a>
      </div>
      <div class="navbar-collapse collapse navbar-inverse-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/welcome">Home</a></li>
          <li><a href="#">Menu</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/login">Sign In</a></li>
          <li><a href="javascript:void(0)">Create Account</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>