<head>
  <title>yummyfy</title>
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="import" href="static/style.css">
  <link rel="import" href="static/fancy.js">
</head>
<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
    </button>
    <a class="navbar-brand" href="/"><img src="static/icon2.png" height="40"/></a>
  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/menu">Menu</a></li>
      <li><a href="/welcome">Health Test</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/login">Sign In</a></li>
      <li><a href="/login">Create Account</a></li>
    </ul>
  </div>
</div>
<a href="/assessment"><img src="static/hero.png" width="100%"/></a>
<div class="container">
  <div class="row index">
    <div class="col-md-3 box" align="center">
      <i class="fa fa-cutlery fa-5x"></i>
      <h3>Custom Meal Planning <br><br> <small>Healthy meal options that are tailored to your busy lifestyle.</small></h3>
    </div>
    <div class="col-md-3 col-md-offset-1 box" align="center">
      <i class="fa fa-heartbeat fa-5x"></i>
      <h3>Healthly Choices<br><br> <small>Dietary restrictions, preferences, and allergies are considered to help you reach your goals.</small></h3>
    </div>
    <div class="col-md-3 col-md-offset-1 box" align="center">
      <i class="fa fa-users fa-5x"></i>
      <h3>Personality Assessment<br><br> <small>Detailed personality assessment to provide optimal customization</small></h3>
    </div>
  </div>
</div>