<head>
  <title>yummyfy</title>
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="import" href="static/style.css">
  <link rel="import" href="static/fancy.js">
</head>
<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
    </button>
    <a class="navbar-brand" href="/"><img src="static/icon2.png" height="40"/></a>
  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/menu">Menu</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/login">Sign In</a></li>
      <li><a href="/login">Create Account</a></li>
    </ul>
  </div>
</div>
<div class="container">
  <h1>Your meals for the week</h1>
  <div class="row menu">
    <div class="col-md-12 each">
      <div class="col-md-5 day">
        <div class="label">
          <h2>Monday</h2>
          <div class="points">
            <i class="fa fa-star fa-5x"></i>
            <br><br>
            <h2>100 points!</h2>
          </div>
        </div>
      </div>
      <div class="col-md-6 img">
        <div class="img">
          <img src="static/broccolicakes.jpg"width="100%"/>
          <h3>Broccoli Parmesan Fritters</h3>
        </div>
      </div>
    </div>
    <div class="col-md-12 each">
      <div class="col-md-5 day">
        <div class="label">
          <h2>Tuesday</h2>
        </div>
      </div>
      <div class="col-md-6 img">
        <div class="img">
          <img src="static/rest.png" width="100%"/>
        </div>
      </div>
    </div>
    <div class="col-md-12 each">
      <div class="col-md-5 day">
        <div class="label">
          <h2>Wednesday</h2>
          <div class="points">
            <i class="fa fa-star fa-5x"></i>
            <br><br>
            <h2>150 points!</h2>
          </div>
        </div>
      </div>
      <div class="col-md-6 img">
        <div class="img">
          <img src="static/chili.png" width="100%"/>
          <h3>The Best Vegetarian Chili</h3>
        </div>
      </div>
    </div>
    <div class="col-md-12 each">
      <div class="col-md-5 day">
        <div class="label">
          <h2>Thursday</h2>
        </div>
      </div>
      <div class="col-md-6 img">
        <div class="img">
          <img src="static/rest.png" width="100%"/>
        </div>
      </div>
    </div>
    <div class="col-md-12 each">
      <div class="col-md-5 day">
        <div class="label">
          <h2>Friday</h2>
          <div class="points">
            <i class="fa fa-star fa-5x"></i>
            <br><br>
            <h2>50 points!</h2>
          </div>
        </div>
      </div>
      <div class="col-md-6 img">
        <div class="img">
          <img src="static/salad.jpg"width="100%"/>
          <h3>Spinach Citrus Salad</h3>
        </div>
      </div>
    </div>
    <div class="col-md-12 each">
      <div class="col-md-5 day">
        <div class="label">
          <h2>Saturday</h2>
        </div>
      </div>
      <div class="col-md-6 img">
        <div class="img">
          <img src="static/splurge.png"width="100%"/>
        </div>
      </div>
    </div>
    <div class="col-md-12 each">
      <div class="col-md-5 day">
        <div class="label">
          <h2>Sunday</h2>
        </div>
      </div>
      <div class="col-md-6 img">
        <div class="img">
          <img src="static/rest.png" width="100%"/>
        </div>
      </div>
    </div>
  </div>
</div>