<head>
  <title>yummyfy</title>
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="import" href="static/style.css">
  <link rel="import" href="static/fancy.js">
</head>
<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
    </button>
    <a class="navbar-brand" href="/"><img src="static/icon2.png" height="40"/></a>
  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/menu">Menu</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/login">Sign In</a></li>
      <li><a href="/login">Create Account</a></li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="row menu" align="center">
    <table class="calendar table table-bordered">
    <thead>
      <tr>
          <th>&nbsp;</th>
          <th width="14.2%">Sunday</th>
          <th width="14.2%">Monday</th>
          <th width="14.2%">Tuesday</th>
          <th width="14.2%">Wednesday</th>
          <th width="14.2%">Thursday</th>
          <th width="14.2%">Friday</th>
          <th width="14.2%">Saturday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Gallery</td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"><img src="static/salad.jpg"/ width="100%"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
      </tr>
      <tr>
        <td>Ingredients</td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
      </tr>
      <tr>
        <td>Recipe</td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>